.navbar{
    
    margin-bottom:500px;
}
.navbarHead{
    margin-left:5%; 
    font-weight: bold;
    font-size: 24px;
}
.navbarContainer{
    margin-right:20%;
    color:black !important;
}
.navbarList{
    margin-right:10%;
    width:100%;
    font-size: 17px;
    font-weight: 500;
}
.username{
    font-size: 17px;    
    font-weight: 500;
    color:white;
    margin-right:5%;
}
.navbarList>a{
    color:white;
}
.navbarList>a:hover{
    color:#caccce;
}
.navbar-nav{
    margin-left:25%;
}
.navbarListLogout{
    margin-right: 5%;
}
.navbarListLogout>a{

    color: white;
}
.navbarListLogout>a:hover{
    color:#caccce;
    text-decoration: none;
}